<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
    </head>

    <body background="images/background.jpg">
        <h1>Intelligent Keyboard</h1>
        <div class="autocomplete wrapper" style="width:500px;">
            <input id="myInput" type="text" name="myText" placeholder="Type your text here" oninput="textChange()">
        </div>

</body>
    <!-- To handle requests and response for the text in the Input Box -->
    <script src="js/req_res.js"></script>
</html>
